<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light logo">FinanzApp</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fab fa-github fa-fw"></i>
                        <a class="text-decoration-none" href="https://github.com/lucasmurray97" target="_blank" rel="noreferrer">lucasmurray97</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        lucasmurrayh at gmail dot com
                    </li>
                </ul>
            </div>
        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
            </div>
        </div>
    </div>

</footer>
